<div class="row">
  <div class="col-xs-12">
    <img [src]="recepieToShow.imagePath" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recepieToShow.name}}</h1>
  </div>
  <div class="row">
    <div class="col-xs-12" >
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-tooglr">Manage Recepie <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">Add Ingredients to Shopping List</a></li>
          <li><a href="#">Edit Recepie</a></li>
          <li><a href="#">Delete Recepie</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recepieToShow.desc}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul>
    <li class="list-group-item" *ngFor="let ingredient of recepieToShow.ingredients">
     {{ingredient.name}} ({{ingredient.amount}})
    </li>

  </ul>
  </div>

</div>
